body{
      text-align: center;
      background-image:url(pexels-jplenio-2.jpg);
      
}
#main{
      margin-top: 10%;
      margin-bottom: 5%;
      margin-left: 30%;
      margin-right: 30%;
      border: 2px;
      border: solid;
      border-color: beige;
      padding-top: 5%;
      padding-bottom: 5%;
      border-radius: 5%;
}

#input-city{
      height: 50px;
      width: 300px;
      text-align: left;
      border-radius: 20px;
      border: 2px;
      border: solid;
      border-color: white;
      font-size: x-large;
      outline: none;
      background-color: rgba(0, 0, 0, 0.5);
      color:white;


      
}

#search-btn{
            height: 50px;
            width: 100px;
            border-radius: 20px;
            color: black;
            background-color: red;
            outline: none;
            margin-left: 2rem;
            border: 4px;
            border: solid;
            border-color: white;
            font-size: x-large;
}

#city-name{
      font-size: xx-large;
      font-weight: 900;
}

#tim{
      font-size: x-larger;
      font-weight: 900;
}

#tem{
      font-size: x-larger;
      font-weight: 900;
}

h1{
      color: antiquewhite;
}


